.parceiros .content {margin: 10px auto; width: 980px;}

.parceiros .side-menu {float: left; margin-right:10px; width: 180px;}
    .parceiros .side-menu h3 {font-size: 16px; font-style: italic; letter-spacing: 2px; padding-bottom: 15px; text-transform: uppercase;}
    body.parceiros.franquias .side-menu .opcao-franquia a {color: #e2007a; font-weight: bold;}
    body.parceiros.multimarcas .side-menu .opcao-multimarcas a {color: #e2007a; font-weight: bold;}

.parceiros .menu-parceiros {border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
    .parceiros .menu-parceiros li {font-size: 11px; margin: 10px 0; padding: 0 0 0 20px;}
        .parceiros .menu-parceiros li a {color: #545454;}
        .parceiros .menu-parceiros li a:hover {color:#e2007a; font-weight:bold;}

.parceiros .wrapper-franquias {float: left; width: 760px;}
.parceiros .conteudo-franquias {border-top: 1px solid #ccc; margin-top: 5px;}
.parceiros .conteudo-franquias h2 {font-weight:bold; font-size:14px; margin-top:20px; padding-left:15px; text-transform:uppercase;}
.parceiros .conteudo-franquias p {margin:14px 0 0; padding-left:15px;}
.parceiros .conteudo-franquias .imagem-franquias {margin-top:20px;}

.parceiros .coluna.coluna-esquerda h3 {
    background: url('/arquivos/tit-franquias-coluna-esquerda.png') no-repeat;
    display: block;
    height: 15px;
    text-indent: -9999px;
    width: 276px;
}

.parceiros .coluna.coluna-direita h3 {
    background: url('/arquivos/tit-franquias-coluna-direita.png') no-repeat;
    display: block;
    height: 15px;
    text-indent: -9999px;
    width: 283px;
}

.parceiros .informacoes-franquias {color:#545454; font-size:11px; margin-top: 20px;}
.parceiros .informacoes-franquias ul {margin-top:20px;}
    .parceiros .informacoes-franquias ul li {line-height:14px; list-style-type:disc; list-style-position:inside; margin:10px 0; padding-left:20px;}
    .parceiros .informacoes-franquias .coluna.coluna-esquerda {float: left; width: 315px;}
    .parceiros .informacoes-franquias .coluna.coluna-direita {float: right; width: 320px;}
.parceiros .btn-franquia {
    border: none;
    background: #000;
    color: white;
    display: block;
    cursor: pointer;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Century Gothic',arial,sans-serif;
    margin: 20px auto;
    width: 250px;
}