/* TOP BAR */

.topbar	{color: #fff; font-size: 12px; padding: 0;}
.topbar .topbar-container{margin: 0 auto; width: 1280px;}
.topbar .topbar-container .banner-topbar{width: 775px; float: left;}
.topbar .topbar-container .myshoes-news{background: #d82f8a; float: right; height: 35px; width: 505px;}
.topbar .topbar-container .post-news{padding: 10px 10px 0 15px; float: left; width: 130px;}
.topbar .topbar-container .post-news .shoes-name{ text-transform: uppercase; float: left; margin-top: 2px;}
.topbar .topbar-container .post-news .postal-icon{background:url('../arquivos/postal-icon-topbar.png') no-repeat; float: left; height: 16px; margin-right: 5px; width: 20px; }
.topbar .topbar-container .insert-email{float: left; padding: 5px 0;}
.topbar .topbar-container .insert-email .text-newslatter{border: 1px solid #fff; background: none; border-radius: 3px; color: #fff; font-style: italic; height: 20px; padding-left: 10px; width: 215px;}
.topbar .topbar-container .insert-email .submit-newslatter{ position: relative; right: 25px; background:url('../arquivos/tobar-btn-newslatter.png') no-repeat; border: none; text-indent: -9999px; width: 20px; height: 20px; cursor: pointer;}

/* END TOP BAR */

/* HEADER */

.header{width: 980px; padding:15px 0; margin: 0 auto;}

/* END HEADER */