/* START PRODUTO COMENTÁRIOS */

/* produto descrição */
.wrapper-breadcrumbs-comment{border-bottom: 1px solid #d0d0d0; padding-bottom: 20px; width: 1280px; margin: 0 auto;}
.wrapper-breadcrumbs-comment .breadcrumbs {width: 980px; margin:0 auto;}
.produto-descricao .images-left{float: left; width: 450px; background: #d0d0d0; height: 300px; margin: 20px 20px 20px 0;}
.produto-descricao .descricao-right{float: right; width: 490px; margin:20px 0;}
.produto-descricao .descricao-right .name-product{border-bottom: 1px solid #d0d0d0;}
.produto-descricao .descricao-right .name{font-size: 20px; margin-bottom: 10px;}
.produto-descricao .descricao-right .ref{font-size: 12px; margin-bottom: 20px;}
.produto-descricao .descricao-right .price-product{border-bottom: 1px solid #d0d0d0; float: left; padding: 20px 0;}
.produto-descricao .descricao-right .condicao-price{float: left; width: 300px;}
.produto-descricao .descricao-right .condicao-price .valor{margin-bottom: 10px;}
.produto-descricao .descricao-right .condicao-price .de{margin-right: 15px; font-style: italic;}
.produto-descricao .descricao-right .condicao-price .por{font-weight: bold;}
.produto-descricao .descricao-right .condicao-price .ate{font-style: italic;}
.produto-descricao .descricao-right .condicao-shipping{margin-top: 12px; float: right; width: 190px; text-align: right; font-weight: bold;}
.produto-descricao .descricao-right .size-color{border-bottom: 1px solid #d0d0d0; float: left; text-transform: uppercase; padding:20px 0;}
.produto-descricao .descricao-right .color-product{float: left; width: 490px;}
.produto-descricao .descricao-right .size-product{float: left;}
.produto-descricao .descricao-right .buy-product{border-bottom: 1px solid #d0d0d0; float: left; width: 490px; padding:20px 0;}
.produto-descricao .descricao-right .buy-product .buy{float: left; text-align: left;}
.produto-descricao .descricao-right .buy-product .btn-buy{background:url('icons.png') no-repeat; background-position: -4px -120px; width: 173px; height: 45px;float: right; margin-left: 10px; text-indent: -9999px;}
.produto-descricao .descricao-right .buy-product .calcule-shipping{float: right; text-align: right; margin-top: 15px;}
.produto-descricao .descricao-right .icon-shipping{background:url('icons.png') no-repeat; background-position: -98px -101px; width: 18px; height: 12px;float: left; margin-right: 10px;}

/* compre junto */

.compre-junto{margin:20px 0;}
.compre-junto .condicoes-compre-junto{float: left; padding: 20px 0; width: 100%;}
.compre-junto .product1{float: left; width: 125px; height: 125px;}
.compre-junto .product2{float: left; width: 125px; height: 125px;}
.compre-junto .mais{background:url('icons.png') no-repeat; background-position: -113px -25px; width: 34px; height: 34px;float: left; margin: 45px 20px;}
.compre-junto .igual{background:url('icons.png') no-repeat; background-position: -76px -25px; width: 34px; height: 34px;float: left; margin: 45px 50px;}
.compre-junto .total-comprejunto{float: left; width: 250px; margin-top: 20px;}
.compre-junto .names-comprejunto{display: block; margin-bottom: 15px;}
.compre-junto .price-comprejunto{display: block; font-weight: bold; margin-bottom: 5px;  font-style: italic;}
.compre-junto .economize-comprejunto{display: block; margin-bottom: 5px; font-style: italic;}
.compre-junto .parcelas-comprejunto{display: block; margin-bottom: 5px; font-style: italic;}
.compre-junto .btn-comprejunto{background:url('icons.png') no-repeat; background-position: -4px -169px; width: 173px; height: 35px;float: left; margin-top: 45px; text-indent: -9999px;}

/* avaliações e comentários */

.box-avaliacao{display: block;float: left;width: 100%;border-bottom: 1px solid #d0d0d0;padding-bottom: 20px;}
.avaliacoes-comentarios{margin-bottom: 20px; position: relative; }
.avaliacoes-comentarios #tabs{height: 29px;}
.avaliacoes-comentarios .btn-nav{background: #fff; color: #6f6f6f; font-weight: bold; padding:7px 30px; border: 1px solid #d0d0d0; border-bottom: none; float: left; text-transform: uppercase;}
.avaliacoes-comentarios .tab-conteudo{border: 1px solid #d0d0d0; float: left;}
.avaliacoes-comentarios .title ul li{float: left; margin-right: 3px;}
.avaliacoes-comentarios .tab-conteudo p{padding: 25px; font-size: 12px; line-height: 19px; color: #7f7f7f;}
.avaliacoes-comentarios .media-avaliacao{float: left; width: 508px; position: relative;}
.avaliacoes-comentarios .media-avaliacao .title{margin-bottom: 30px; display: block; font-weight: bold; }
.avaliacoes-comentarios .media-avaliacao .title .icon-hearts{background:url('icons.png') no-repeat; background-position: -7px -322px; width: 79px; height: 15px;float: left;}
.avaliacoes-comentarios .media-avaliacao .hearts{background:url('icons.png') no-repeat; background-position: -7px -303px; width: 80px; height: 95px;float: left; margin-right: 10px;}
.avaliacoes-comentarios .media-avaliacao ul li{margin-right: 10px;}
.avaliacoes-comentarios .media-avaliacao .posicao span{height: 2px; width: 328px; background: #969696; margin-top: 5px; float: left; margin-right: 5px;}
.avaliacoes-comentarios .media-avaliacao .posicao .avaliacao{float: left; margin-bottom: 8px;}
.avaliacoes-comentarios .avalie-produto{float: right; width: 300px;}
.avaliacoes-comentarios .avalie-produto .avalie{display: block; font-weight: bold; float: none; margin-bottom: 10px;}
.avaliacoes-comentarios .avalie-produto .icon-hearts{background:url('icons.png') no-repeat; background-position: -7px -342px; width: 100%; height: 15px;float: left;}
.avalie-produto .form-avaliacao{float: left; margin-top: 10px;}
.form-avaliacao .radio-select{float: none!important; margin-top: 8px;}
.avalie-produto .form-avaliacao .radio{ margin: 0 5px 0 0;}
.avalie-produto .form-avaliacao .btn-enviar{background:url('icons.png') no-repeat; background-position: -5px -209px; width: 157px; height: 26px;border: none;text-indent: -9999px;cursor: pointer; margin-top: 15px;}

.comentarios{float: left; margin: 20px 0; width: 100%;}


/* END PRODUTO COMENTÁRIOS */