/* http://www.uberdigital.com.br
   AACC | 2013
   Autor: Ivan Richard Roncatto;
*/

.wrapper-carrinho{position: relative; width: 970px; margin: 0 auto;}
.title-head-carrinho{margin-bottom: 20px;}
.title-head-carrinho h2{margin: 20px 0; text-align: center; text-transform: uppercase; font-size: 26px; color: #70bdb7;}
.options-link-car{color: #8c8c8c; font-size: 11px; text-transform: uppercase; text-align: center; margin-bottom: 20px;}
.options-link-car li{padding: 0px 8px; border-right: 1px solid #d0d0d0;display: inline;margin: 0; }
.options-link-car li a{padding-right: 3px; color: #8c8c8c; }
.options-link-car .last{border-right: 0;}

.conteudo-carrinho .bts{float: left; margin-bottom: 20px; width: 100%;}
.continuar-comprando{background:url('icons.png') no-repeat; background-position: -2px -224px; width: 212px; height: 32px;  margin-right: 5px;text-indent: -9999px;cursor: pointer;}
.finalizar-compra{background:url('icons.png') no-repeat; background-position: -3px -188px; width: 176px; height: 32px;float: right;text-indent: -9999px;cursor: pointer;}

.carrinhoTable{width: 100%; clear: both;}
.carrinhoTable thead{text-transform: uppercase; width: 970px; float: left; margin-bottom: 10px; font-size: 14px; color: #383838;}
.carrinhoTable th.produto{width: 400px;padding: 10px 0;text-align: left;}
.quantidade{width: 150px;}
.servico{display: none;}
.preco-unitario{width: 200px;}
th.preco-total{width: 160px;}
.carrinho-produto { position: relative; background: #F7F7F7; float: left; width: 950px; margin-bottom: 20px; padding: 10px;}
.carrinho-produto {width/*\**/: 970px\9;}
.carrinhoTable .carrinho-produto td{float: left;padding: 10px 0; margin-right: 116px;}
.produto img{border: 1px solid #d0d0d0;}
.excluir{margin-right: 0!important;}
.carrinhoTable tbody .produto h4 a{margin-top: 35px;margin-bottom: 7px;float: left; color: #000; line-height: 16px;}
.carrinhoTable tbody .produto a{float: left; margin-right: 10px;}
.carrinhoTable tbody .produto h4{float: left; width: 224px;text-transform: uppercase;}

.carrinhoTable .carrinho-produto .quantidade{ float: left; margin: 38px 0; margin-right: 23px;}
.carrinhoTable .carrinho-produto .quantidade{ margin /*\**/: 38px 0\9; margin-right /*\**/: 25px\9; float /*\**/: left\9;}
.carrinhoTable .carrinho-produto .preco-unitario{ float: left; margin: 45px 0; margin-right: 80px; width: 106px!important; font-size: 16px; }
.carrinhoTable .carrinho-produto .preco-unitario{ float /*\**/: left\9; margin /*\**/: 45px 0\9; margin-right /*\**/: 72px\9;}
.carrinhoTable .carrinho-produto .preco-total{float: left; margin: 45px 0; width: 85px!important; font-size: 16px;}
.carrinhoTable .carrinho-produto a.excluir{background: url('icons.png') no-repeat; float: left; background-position: -132px -228px; height: 18px;width: 20px;text-indent: -9999px;position: relative;top: 45px;right: -35px;}
.carrinhoTable tfoot{ width: 800px;}
.carrinhoTable tfoot td.txtSubTotal{color: #545454;font-size: 14px; padding: 10px 0; margin-right: 30px; color: #000; text-align: right;text-transform: uppercase; float: right; position: relative;}
.carrinhoTable tfoot td.preco-total{float: right; padding: 10px 0; position: relative; color: #000;}
.carrinhoTable tfoot tr.vale-presente td.preco-total{position: relative; top: 8px;}
.carrinhoTable fieldset.vale-presente legend span {display: none;}
.carrinhoTable tr.vale-presente .grp label span{font-weight: bold;}
.carrinhoTable tr.vale-presente .grp .fitext{width: 150px; height: 19px; outline: none; border: 1px solid #d0d0d0; margin: 0 5px; padding: 1px 10px;}
.vale-presente span.ok-carrinho .bt{background: url('icons.png') no-repeat; cursor: pointer; background-position: -10px -347px; height: 22px;width: 100px;text-indent: -9999px;border: none;}
.texto-cepline span.ok-carrinho .bt{background: url('icons.png') no-repeat; cursor: pointer; background-position: -10px -347px; height: 22px;width: 100px;text-indent: -9999px;border: none;}
.texto-cepline .cep{margin-right: 20px; width: 423px; float: left; height: 25px;}
.carrinhoTable tr.vale-presente td.vale-presente{ color: #000;font-size: 14px; position: relative; top: 8px; padding: 10px 0; margin-right: 30px; text-align: right;text-transform: uppercase;float: right;}
.texto-cepline .cep legend{display: none;}
.texto-cepline .cep .duvidaCep{display: none;}
.texto-cepline .texto-cepline .fCep, #ctl00_Conteudo_txtCep1{width: 72px;height: 19px;outline: none; color: #555; border: 1px solid #d0d0d0; margin-left:41px; padding: 1px 15px;}
.texto-cepline .texto-cepline .fCep, #ctl00_Conteudo_txtCep2{width: 33px;height: 19px;outline: none; margin-right: 5px; border: 1px solid #d0d0d0; padding: 1px 15px;}
.carrinhoTable tr.cepline .fCep .cep-prefixo span {font-weight: bold;}
.bts .continuar-comprando{background:url('icons.png') no-repeat; background-position: -4px -257px; width: 210px; height: 34px;  float: left;margin-right: 5px;text-indent: -9999px;cursor: pointer; position: relative; right: -570px;}
.bts .finalizar-compra{background:url('icons.png') no-repeat; background-position: -4px -299px; width: 175px; height: 35px;float: right;text-indent: -9999px;cursor: pointer;}
.cepline td.txt-frete{ color: #000;font-size: 14px; padding: 10px 0; margin-right: 30px; text-align: right;text-transform: uppercase;float: right;}
.cepline .frete-gratis{padding: 10px 0; float: right;}
.carrinhoTable tr.total{width: 800px;padding: 20px 0; float: left; margin-bottom: 20px;}
.texto-cepline{float: left; font-size: 12px;text-transform: uppercase;}
.valor-parcelado{display: none;}
.texto-vale-presente{float: left; padding: 10px 0; font-size: 12px; text-transform: uppercase;}
.carrinhoTable tr.vale-presente{border-bottom: 1px solid #feeaf6;float: left;width: 970px; position: relative;} 
.carrinhoTable tr.cepline {margin-top: 10px;float: left;width: 970px; border-bottom: 1px solid #feeaf6;}
.fCep{float: left;}
.fCep .cep-prefixo{color: #70bdb7;}
.conteudo-carrinho .grp label{color: #383838;}

.total .valor-total{ color: #000;font-size: 14px; right: -170px; position: relative; margin-right: 30px; text-align: right;text-transform: uppercase;float: right; padding: 10px 0;}
.total .valor{float: right; padding: 10px 0; font-size: 14px; position: relative; right: -170px;}

.carrinhoTable .quantidade .boxQuantidade{border-radius: 4px; border: 1px solid #d0d0d0; outline: none; margin-right: 5px; float: left; padding: 2px 20px; width: 5px!important; color: #000; height: 20px;}
.carrinhoTable .quantidade .controle-quantidade{float: left; text-indent: -9999px;}
.carrinhoTable .quantidade .controle-quantidade .adicionar-item a{background: url('add-item.png') no-repeat; margin-bottom: 2px; margin-top: 1px; height: 10px;width: 16px;float: left;}
.carrinhoTable .quantidade .controle-quantidade .remove-item a{background: url('remove-item.png') no-repeat; height: 10px;float: left;width: 16px;}

/* LOGIN */


.header-steps{ position: relative; width: 990px; display: table; padding: 20px 0; margin: 20px auto; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc;}
.header-steps h1{float: left;}
.header-steps h1 a{background: url('logo.png') no-repeat; display: block; height: 100px; text-indent: -9999px; width: 190px;}
#ctl00_TopBar_TopBar1_divPassos{width: 520px; margin-top: 30px; float: right; }
	/* passos */
	.header-steps .steps li{background:url('steps-aacc.png'); float: left; height:32px; margin-right:40px; padding-right: 10px; text-transform: uppercase; text-indent:-9999px;}
	.steps #ctl00_TopBar_TopBar1_liIdentificacao{background-position: 0 0; width: 136px;}
	.steps #ctl00_TopBar_TopBar1_liIdentificacao.ativo{width: 136px; background-position: 0 -32px;}
	.steps #ctl00_TopBar_TopBar1_liEntregaEmbalagem{background-position: -181px 0; width: 92px;}
	.steps #ctl00_TopBar_TopBar1_liEntregaEmbalagem.ativo{background-position: -181px -32px; width: 92px;}
	.steps #ctl00_TopBar_TopBar1_liPagamento{background-position: -316px 0; width: 136px;}
	.steps #ctl00_TopBar_TopBar1_liPagamento.ativo{background-position: -316px -32px; width: 136px;}

.login .content h2{color: #383838; font-size: 22px; font-family: 'Open Sans', sans-serif; margin-bottom: 20px; padding-bottom: 10px; text-transform: uppercase;}
.login .sign-in {height: 175px; color: #383838; float: left; width: 380px; position: relative; border:1px solid #d3d3d3; padding: 40px 20px;margin: 20px 0 20px 45px;}
.login .sign-in > h4 {text-align: center; color: #545454; font-family: 'Open Sans', sans-serif; font-size: 15px;}
.login .register-info {height: 175px; float: right; position: relative; padding: 40px 20px; width: 360px; border: 1px solid #d3d3d3; margin: 20px 45px 20px 0;text-align: center;color: #545454;font-family: 'Open Sans', sans-serif;font-size: 15px;}
.login .register-info p{line-height: 18px;}
.login .sign-in .bt.fisubmit {border: none;background: #70bdb7;color: white;cursor: pointer;font-weight: bold;padding: 5px 15px;text-align: center;text-transform: uppercase;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;font-size: 14px;}
.login .fitext {height: 24px;margin: 10px 0;padding: 0 5px;font-size: 12px;width: 250px; outline:none; float:left;border:1px solid #c0c0c0;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;}
.login .lnkEsqueciSenha {color: #3f3f3f;font-size: 11px;text-decoration: none;}
.login .sign-in p {display: none;}
.login-email-links li {float: left;margin-right:5px;}
.login .login-email-links {overflow: none; position: absolute; bottom: 60px; left: 80px;}
.login .login-senha-links{position: absolute; bottom: 75px; left: 80px;}
.login .criar-conta a.bt {border: none;background: #70bdb7;color: white;cursor: pointer;font-weight: bold;padding: 5px 15px;text-align: center;text-transform: uppercase;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;font-size: 14px;}
.login .login-email-links a {text-decoration:none; color:#3f3f3f; font-size: 11px;font-family: 'Open Sans', sans-serif;}
.login .login-email-links a:hover{text-decoration:underline;}
.login .login-senha-links a:hover{text-decoration:underline;}
.login .lnkEsqueciEmail {display: none;}
.login .wrapper .email, .login .wrapper .senha {float: left; width: 50px; text-align:right; margin-right:10px;padding: 16px 0;}
.login .mainWrapper h4 {color: #383838;font-size: 16px;margin-bottom: 20px;}
.login .criar-conta { display: block; margin-top: 40px;}
.login .vantagens {padding: 0 20px; color: #545454;}
hr {display: none;}
.login .register-info h4{margin-bottom: 40px;}
.login .btw.continuar{float: left;display: block;position: relative; margin-left: 208px;}
.login .grp.fSenha, .login .grp.fEmail{float: left;height: auto; width:100%;}


/* CADASTRO =========================================================================== */

.cadastro-cliente .header h1 a {display: block;background: url('logo.png') no-repeat;height: 100px; text-indent: -9999px; width: 190px;}
.cadastro-cliente .header{display: table; margin: 20px auto; padding: 20px 0; border-bottom: 1px solid #ccc; border-top: 1px solid #ccc;}
.cadastro-cliente .header h1 {float:left;}
    .cadastro-cliente .header .servicos {float:right; margin-top:40px; width:520px;}  
    .cadastro-cliente .header .servicos li {float: left; margin-right: 10px;padding-right: 10px;text-transform: uppercase;}

.cadastro-cliente #ctl00_TopBar_ComercioTopBar_pnlTopBarAssincrono{display: none;}
.cadastro-cliente #ctl00_TopBar_ComercioTopBar_lblMenuSuperior{display: none;}
.cadastro-cliente .searchWrapper{display: none;}
.cadastro-cliente .content h2 {
    background: url('tit-cadastro.png') no-repeat;
    display: block;
    height: 18px;
    margin: 0 0 20px 0;
    text-indent: -9999px;
    width: 112px;
}

.cadastro-cliente .grp{margin: 5px 0; float: left; clear: both;}
.cadastro-cliente fieldset{margin-bottom: 30px;}
.cadastro .frmTipoPessoa label {float: none;}
.cadastro-cliente #txtCadastroClienteDadosInfo {display: none;}
.cadastro-campos.cadastro {border: 1px solid #d3d3d3; padding-bottom: 20px;}
.cadastro a {color:#545454; text-decoration: underline;}
.cadastro-cliente .cadastro .identificacao legend {background: #f2f2f2;width: 968px;font-family: 'Open Sans', sans-serif; padding: 20px 0 20px 20px;font-size: 14px;font-weight: normal;margin-bottom:20px;}
.grp.fData.fDataNasc input{width: 44px !important;}
.grp.fRadio.fSexo .sexo-m, .grp.fRadio.fSexo .sexo-f{padding-left: 5px!important;font-weight: normal;width: 110px;float: none;}
.cadastro-cliente .fitext.DDD{width: 35px !important;}
.cadastro-cliente .fitext.telefone{width: 115px !important;}
.cadastro-cliente .fCep .cep-prefixo{ color: #000;}
.cadastro-cliente .grp.fCheck label {text-align: left;font-weight: normal;}
.cadastro-cliente label {
    float: left;
    padding-left: 20px;
    width: 170px;
    color:#000;
    text-align:right;
    margin-right:10px;
   font-family: 'Open Sans', sans-serif;
    font-weight:bold;

}
.cadastro-cliente .bt.fisubmit{border: none;background: #70bdb7;color: white;cursor: pointer;font-weight: bold;padding: 5px 15px;text-align: center;text-transform: uppercase;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin-left: 25px;font-family: 'Open Sans', sans-serif;}
.cadastro-cliente .fitext {
	height: 24px;
	padding: 0 5px;
	font-size: 12px;
	border: 1px solid #c0c0c0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.cadastro-cliente .fitext {
    width: 295px !important;
    border:1px solid #c0c0c0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.cadastro-cliente #txtCadastroClienteDadosInfo {display: none;}

.cadastro-cliente .fitext.cep-prefixo {width: 120px !important;}
.cadastro-cliente .fitext.cep-sufixo {width: 60px !important;}
.cadastro .thickbox {display:none;}

.cadastro-cliente .areaAvisos .fAvisos {
    padding-left: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.cadastro-cliente .areaAvisos label {
    display:block;
    float:none;
    width: 340px;
    margin-top: 10px;
}
.cadastro-cliente .history{display: none;}

/* end CADASTRO =========================================================================== */






