/* RESET VTEX */
.searchResultsTime,
.orderBy,
p.compare,
.titulo-sidebar {display: none;}
/* end RESET VTEX */

.bread-crumb {
	background: url('/arquivos/bg-breadcrumb.jpg') no-repeat 0 30px;
	padding-bottom: 40px;
}

.container-filter-results {
    margin: 0 auto;
    position: relative;
    width: 940px;
}

.search-single-navigator h3,
.search-single-navigator h4,
.search-single-navigator h5 {margin: 0 0 5px;}

.search-single-navigator ul {margin:5px 0 20px 0;}


.container-filter-results .wrapper-filter {
	font-family: 'Share Tech Mono', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	word-spacing: -1px;
	float: left;
	width: 180px;
}
	.container-filter-results .wrapper-filter a {color:#999; font-size: 12px; text-decoration: none;display: block;padding: 2px 0;}
	.container-filter-results .wrapper-filter a:hover {text-decoration: underline;}
	
	.container-filter-results .wrapper-filter h3,
	.container-filter-results .wrapper-filter h3 a {color:#000; font-size: 13px;}

	.container-filter-results .wrapper-filter h4 {margin: 0 0 0 10px;}
	
	.container-filter-results .wrapper-filter h3 + ul,
	.container-filter-results .wrapper-filter h4 + ul,
	.container-filter-results .wrapper-filter h5 + ul {margin: 5px 0 20px 10px;}
	
	.container-filter-results .wrapper-filter h3,
	.container-filter-results .wrapper-filter h5 {
	    background:url('/arquivos/arrow-list-down.png') no-repeat 0 4px;
	    padding-left:10px;
	}

.container-filter-results .resultItemsWrapper {margin: 30px auto 0 auto; width: 740px;}

.container-filter-results .resultado-busca-filtro {
	font-family: 'Share Tech Mono', sans-serif;
	text-transform: uppercase;
	word-spacing: -2px;
	letter-spacing: -1px;
}
	.container-filter-results .resultado-busca-filtro .wrapper-results {
		float: left;
		margin-left: 20px;
		width: 740px;
	}

	.wrapper-filter h5 {
	    margin-top: 10px;
	}

	.menu-navegue {margin: 0 0 10px 0;}

	.search-multiple-navigator {margin-top: 10px;}

	.refino-marca label {
		display: block;
		margin: 5px 0;
	}

	.wrapper-results {
	    float: left;
	    margin-left: 20px;
	    padding: 0 0 20px;
	    width: 740px;
	}

	.pager {position: absolute; right: 0;}
	.pager.top {top: 25px;}
	.pager.bottom {bottom:25px;}

	.pages li {
	    float: left;
	    font-family: 'Share Tech Mono', sans-serif;
	    margin:0 5px;
	    text-transform: uppercase;
	}

	.pages li.first,
	.pages li.last {display:none;}

	.pages li.pgCurrent {color:#ed1c24}

/* clearfix */
.pages:before, .pages:after { content: ""; display: table; }
.pages:after { clear: both; }
.pages { *zoom: 1; }
/* end clearfix */

.container-filter-results .resultItemsWrapper .vitrine ul li {
	float:left;
	height: 278px;
	margin-right: 45px;
	position: relative;
	width: 186px;
}
.container-filter-results .resultItemsWrapper .vitrine ul li:last-child {margin-right: 0;}

.container-filter-results .resultItemsWrapper .container-infos {
	background: url('/arquivos/bg-price-carousel.jpg') no-repeat left top;
	padding-top: 10px;
	height: 76px;
	width: 182px;
}
	.container-filter-results .resultItemsWrapper .container-infos .column-left {
	    float: left;
	    margin-left: 15px;
	    overflow: hidden;
	    width: 80px;
	}
		.container-filter-results .resultItemsWrapper .container-infos .price-product {
			font-size: 13px;
			margin-top: 3px;
		}
		.container-filter-results .resultItemsWrapper .container-infos .price-product sup {font-size:10px; padding-right:2px; vertical-align:top;}

			.container-filter-results .resultItemsWrapper .container-infos h3 {
			    margin: 0 auto 5px;
			    text-align: center;
			    width: 95%;
			}
	.container-filter-results .resultItemsWrapper .vitrine ul li .ico-more {
		display: none;
		position: absolute;
		left: 50px;
		top: 60px;
	}
	.container-filter-results .resultItemsWrapper .vitrine ul li:hover .ico-more {display: block;}
	.container-filter-results .resultItemsWrapper .container-infos .column-right {
	    float: right;
	    margin: 0 15px 0 0;
	    width: 69px;
	 }
	.container-filter-results .resultItemsWrapper .container-infos .column-right .btn-comprar {
		background: url('/arquivos/bt-comprar.png') no-repeat;
		display: block;
		height: 20px;
		text-indent: -9999px;
		width: 69px;
	}
	.container-filter-results .resultItemsWrapper .vitrine ul li:hover .btn-comprar {background: url('/arquivos/bt-comprar_over.png') no-repeat;}
