/* reset.css =================================================== */


/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* end reset.css ======================== */

body {font-family: Arial, Helvetica, sans-serif; font-size: 14px;}
hr {visibility:hidden; border:none; clear: both; margin:0; padding:0; height:0; width:0;}
html, body {height:100%;}
small {font-size: 0.9em; font-style: italic; letter-spacing: normal; text-transform: none;}

.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.font-spc {
	font-family: 'Share Tech Mono', sans-serif;
	text-transform: uppercase; 
	word-spacing:-2px;
}

.inner-shadow {
	background: url('/arquivos/divisoria-breadcrumb.jpg') no-repeat center top;
	padding-top:36px;
	width:1152px;
}

.content {margin: 0 auto; position: relative;width: 940px;}
.searchWrapper {display: none;}


/* HEADER ================================================================ */
.header {
	background: white;
	border: 1px solid #ccc;
	height: 105px;
	margin: -1px auto 20px auto;
	width: 940px;
}
.header h1 a {
    background: url('/arquivos/logo-denko.png') no-repeat;
    display: block;
    height: 103px;
    padding: 0;
    position: static;
    text-indent: -9999px;
    width: 267px;
}
.container-header {
	margin:0 auto;
	width:940px;
}
	.container-header a,
	.container-footer a {color:black; text-decoration: none;}

	.container-header a:hover,
	.container-footer a:hover {color:black; text-decoration: none;}

	.container-header .row-one {
		height: 60px;
		margin-bottom: 3px;
	}
	.container-header .row-one a:hover {text-decoration: underline;}
	
	.container-header .row-one .menu-container {
		background: white;
		border: 1px solid #f1f1f1;
		float: left;
		font-size: 11px;
		height: 36px;
		padding-top: 21px;
		width: 683px;
	}
		.container-header .row-one .menu-container .container-menu-small {
		    float: left;
		    margin-left: 10px;
		    padding-top: 5px;
		}
		.container-header .row-one .menu-container .container-menu-small .option {
		    float: left;
		    margin-right: 15px;
		}
		.container-header .row-one .menu-container .container-facebook {
		    float: left;
		    height: 20px;
		    margin-left: 30px;
		    width: 100px;
		}
	.container-header .row-one .search-container {
		background: #ed1c24;
		float: right;
		height: 59px;
		width:252px;
	}
	.container-header .row-one .busca legend,
	.container-header .row-one .busca label,
	.container-header .row-one .busca select {display: none;}

	.container-header .row-one .search-container .fulltext-search-box {
		background: url('/arquivos/bg-buscar-input.png') no-repeat left top;
		border: none;
		color: white;
		float: left;
		font-family: 'Share Tech Mono', sans-serif;
		font-size: 16px;
		height: 59px;
		margin: 0;
		padding: 0 0 0 10px;
		text-transform: uppercase;
		width: 200px;
	}
	.container-header .row-one .search-container .fulltext-search-box.noBg {background: none;}
	
	.container-header .row-one .search-container .btn-buscar {
	    background: url('/arquivos/bt-buscar.png') no-repeat;
	    border: none;
	    cursor: pointer;
	    float: right;
	    margin: 0 0 0 0;
	    padding: 0;
	    height: 59px;
	    text-indent: -9999px;
	    width: 42px;
	}

	.container-header .row-two {font-size: 12px;}

	.container-header .row-two .main-menu .option {
	    background: white;
	    border: 1px solid #f1f1f1;
	    float: left;
	    height:103px;
	    margin-right: 3px;
	    position:relative;
	}

	.container-header .row-two .main-menu .option a {
		bottom: 10px;
		padding-top: 80px;
		position: absolute;
		text-align: center;
		width: 100%;
	}
	.container-header .row-two .main-menu .option:hover {background:#ed1c24;}
	.container-header .row-two .main-menu .option:hover a {color:white;}
	.container-header .row-two .main-menu .option.carrinho a {
		bottom: 20px;
		padding-top: 70px;
	}

	.container-header .row-two .main-menu .logo-denko {
		height: 103px;
		width: 265px;
	}
	.container-header .row-two .main-menu .logo-denko h1 a {
		background: url('/arquivos/logo-denko.png') no-repeat;
		display: block;
		height: 106px;
		padding: 0;
		position: static;
		text-indent: -9999px;
		width: 267px;
	}

	.container-header .row-two .main-menu .conheca-denko {width:123px;}
	.container-header .row-two .main-menu .produtos {width:102px;}
	.container-header .row-two .main-menu .como-funciona {width:102px;}
	.container-header .row-two .main-menu .dna-denko {width:114px;}
	.container-header .row-two .main-menu .empresas-frotistas {width:114px;}
	.container-header .row-two .main-menu .carrinho {
		background: url('/arquivos/menu-carrinho.png') no-repeat white center center;
		margin-right: 0;
		width: 87px;
	}

	.container-header .row-two .main-menu .option .drop-produtos {
	    background: white;
	    display:none;
	    position: absolute;
	    top: 104px;
	    width: 208px;
	}

	.container-header .row-two .main-menu .option .drop-produtos a {
		display: block;
		height: 54px;
		position: static;
		padding: 0;
		text-indent: -9999px;
		width: 208px;
	}
		.container-header .row-two .main-menu .option .drop-produtos li {margin-bottom: 1px;}
		.container-header .row-two .main-menu .option .drop-produtos li.last {margin-bottom: 0;}
		.container-header .drop-produtos .drop-jaquetas {background: url('/arquivos/drop-jaquetas.jpg') no-repeat;}
		.container-header .drop-produtos .drop-coletes {background: url('/arquivos/drop-coletes.jpg') no-repeat;}
		.container-header .drop-produtos .drop-acessorios {background: url('/arquivos/drop-acessorios.jpg') no-repeat;}

		.container-header .drop-produtos .drop-jaquetas:hover {background-position: 0 -54px;}
		.container-header .drop-produtos .drop-coletes:hover {background-position: 0 -54px;}
		.container-header .drop-produtos .drop-acessorios:hover {background-position: 0 -54px;}
/* end HEADER ================================================================ */


/* FOOTER ==================================================================== */
#footer.footer {border-top: 15px solid #ed1c24;}

.footer .container-footer {
    margin: 20px auto 30px auto;
    width: 940px;
}
	.footer .container-footer .row-one {
	    border-bottom: 1px solid #ccc;
	    padding-bottom: 10px;
	    margin-bottom: 15px;
	}
	.footer .main-menu {
	    color:#3a3a3a;
	    font-size: 12px;
	    margin-bottom:10px;
	}
		.footer .main-menu .option {
		    float:left;
		    border-right:1px solid #3a3a3a;
		    margin-right:10px;
		    padding-right:10px;
		    word-spacing:-2px;
		}
		.footer .main-menu .option.last {
		    border-right:none;
		    margin-right:0;
		    padding-right:0;
		}

.footer .menu-institucional {
    float:left;
    font-size:12px;
}
	.footer a:hover {text-decoration: underline;}

	.footer .menu-institucional.atendimento-cliente {width:170px;}
	.footer .menu-institucional.sobre-nos {width:110px;}
	.footer .menu-institucional .title-menu {margin-bottom:10px;}
	.footer .menu-institucional .option {margin:0 0 10px 0;}
	.footer .menu-institucional .option a {color: #c0c0c0;}

/* end FOOTER ================================================================ */

/* CARRINHO =========================================== */

.carrinho .sidebar,
.carrinho .history,
.carrinho #ctl00_TopBar_TopBar1_divHeader {display: none;}

/* carrinho vazio */
.carrinho .carrinho-vazio h3 {
    font-weight: bold;
    margin: 20px 0;
}

.carrinho .carrinho-vazio p {
	font-size: 14px;
	margin: 0 0 14px 0;
	line-height: 16px;
	width: 620px;
}

.carrinho .carrinho-vazio .continuar-comprando a {
	color: black;
	font-size: 14px;
}
/* end carrinho vazio */

.carrinho .loading {padding: 10px 10px 10px 0;}

.carrinho .content h2 {
	margin: 0 0 15px 0;
	padding: 10px 0;
	background: url('/arquivos/tit-carrinho-compras.png') no-repeat;
	text-indent: -9999px;
	height: 13px;
	position: absolute;
	top: 20px;
	left: 30px;
	width: 167px;
}

.carrinho .carrinhoTable {
    margin-top:30px;
}
	.carrinho .carrinhoTable .servico,
	.carrinho .carrinhoTable .vale-presente label {display: none;}

.carrinho .carrinhoTable thead {
    background: url('/arquivos/bg-secao-carrinho.jpg') no-repeat 0 20px;
}

.carrinhoTable thead tr {height: 40px;}

	.carrinho .carrinhoTable thead th {
		color: #d8d8d8;
		font-size: 11px;
		padding-bottom: 5px;
		text-align: center;
		text-transform: uppercase;
		width: 165px;
	}
	.carrinho .carrinhoTable thead th.produto {
		text-align: left;
		width: 400px;
	}
	.carrinho .carrinhoTable thead .excluir {width:100px;}

.carrinho .carrinhoTable a.sku-imagem {
    display: block;
    width: 75px;
    height: 113px;
    overflow: hidden;
    float: left;
}

.carrinho .carrinhoTable a.sku-imagem img {
    width: 75px;
    height: 113px;
}

.carrinho .carrinhoTable a.sku-imagem + h4 {
	color: #ccc;
	float: left;
	font-size: 12px;
	margin: 30px 0 0 10px;
}

.carrinho .carrinhoTable a.sku-imagem + h4 br {display:none;}

.carrinho .carrinhoTable a.sku-imagem + h4 a {
    display: block;
    color:black;
    font-size:14px;
    font-weight:bold;
    margin-bottom:5px;
    text-decoration:none;
}

.carrinho .carrinhoTable tbody tr {border-bottom: 1px solid #f4f4f4;}

.carrinho .carrinhoTable tbody td {
	padding: 10px 0;
	text-align: center;
	vertical-align: middle;
}
.carrinho .carrinhoTable tbody td.produto {text-align: left;}

.carrinho .carrinhoTabletbody td.preco-unitario,
.carrinho .carrinhoTabletbody td.preco-total {font-size:12px; font-weight:bold;}

.carrinho .carrinhoTable tbody td s {color: #999;}

.carrinho .carrinhoTable tbody td a.excluir {
    background: url('/arquivos/bt-excluir.png') no-repeat;
    display: block;
    height:29px;
    margin:0 auto;
    text-indent: -9999px;
    width: 29px;
}
.carrinho .carrinhoTable .boxQuantidade {text-align: center;}
.carrinho .carrinhoTable .controle-quantidade {display: none;}

.carrinho .carrinhoTable tfoot .subtotal {display: none;}

.carrinho .carrinhoTable tfoot tr {
	height: 60px;
}

.carrinho .carrinhoTable tfoot tr td {
	font-size: 11px;
    padding: 10px 0;
    vertical-align: middle;
}
.carrinho .carrinhoTable tfoot tr td.valor-total {background: url('/arquivos/bg-valor-total-left.jpg') no-repeat 230px top;}
.carrinho .carrinhoTable tfoot tr td.valor {background: url('/arquivos/bg-valor-total.jpg') repeat-x;}

.carrinho .carrinhoTable tfoot tr td legend {
    font-size: 11px;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.carrinho .carrinhoTable tfoot tr td.txt-frete,
.carrinho .carrinhoTable tfoot tr td.vale-presente,
.carrinho .carrinhoTable tfoot tr td.valor-total {
    padding-right: 10px;
    text-align: right;
    text-transform: uppercase;
}
.carrinho .carrinhoTable .frete-gratis a {display:none;}

.carrinho .carrinhoTable .grp.fCep label {display: none;}
.carrinho .carrinhoTable .msgValCEP {
    float: left;
    display: block;
    margin-left: 10px;
    height: 18px;
    padding-top: 5px;
}
.carrinho .carrinhoTable .grp {
    float: left;
    width: 195px;
}

.carrinho .carrinhoTable .grp .fitext {
    border:1px solid #ccc;
    border-radius:4px;
    height:20px;
}
.carrinho .carrinhoTable .grp .fitext.cep-prefixo {width:70px;}

.carrinho .carrinhoTable .grp.fCep .fisubmit {
    background: url('/arquivos/bt-aplicar.png') no-repeat;
    display: block;
    height: 33px;
    text-indent: -9999px;
    width: 72px;
}

.carrinho .carrinhoTable .bt {
	background: #555;
	border: 0;
	color: white;
}

.ok-carrinho {
    float: right;
}
.carrinho .carrinhoTable .vale-presente .fisubmit {
    display: block;
    background: url('/arquivos/bt-calcular.png') no-repeat 0 5px;
    text-indent: -9999px;
    height: 23px;
    width: 50px;
}

.carrinho .carrinhoTable .bt {
    background: #555;
    border: 0;
    color: white;
}
.carrinho .carrinhoTable div.valor-parcelado {
    text-align: right;
}
.carrinho .carrinhoTable tfoot tr td:last-child {
	font-weight: bold;
    text-align: right;
    padding-right: 10px;
}

.bts {position: relative;margin: 20px 0;height: 40px;}
.bts .continuar-comprando {position: absolute; right: 170px;}
    .bts .continuar-comprando a {background: url('/arquivos/bt-continuar-comprando.png') no-repeat; display: block;font-size:12px;height: 40px;text-indent: -9999px;width: 198px;}
    
.bts .finalizar-compra {position: absolute; right: 0;}
    .bts .finalizar-compra a {
        background:url('/arquivos/bt-finalizar-compra.png') no-repeat;
        display:block;
        height: 40px;
        text-indent:-9999px;
        width: 169px;
    }


ul.bottom:before, ul.bottom:after { content: ""; display: table; }
ul.bottom:after { clear: both; }
ul.bottom { *zoom: 1; }
/* end CARRINHO */